.jointjs-container {
    position: relative;
    height: 100%;
    .jointjs-panel{
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;  
      height: 600px;
      border-right: 1px solid #eee;
    }
    .jointjs-canvas{
        width: inherit;
        margin-left: 200px;
        margin-right: 50px;
        height: 600px;
        background:url(data:image/png;base64\,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAgMAAADwXCcuAAAADFBMVEVMaXH4+Pjx8fHt7e1lsgM7AAAAAXRSTlMAQObYZgAAABBJREFUeF5jYGBQIIhDQwsAGeECO0fn6XkAAAAASUVORK5CYII=) repeat;
    }
    .jointjs-tool{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;  
        height: 600px;  
        border-left: 1px solid #eee;
    }
}