@import '../../../assets/scss/variable.scss';

.header-row{
    padding-left: 0px !important;
    background-color: $mainColor;
    color: #fff;
    .brand-container {
        height: $headerH;
        width: $sidenavW;
        display: flex;
    }
    .menu-controll{
        height: $headerH;
        display: flex;
        align-items: center;
        flex: 1;
        .menu-button{
            height: $headerH;
        }
    }
}
