@import '../../../../assets/less/variables/variable.less';


.navigation-self{
    height: @sidenavFH;
    display: flex;
    align-items: center; 
    justify-content: start;
    text-decoration: none;
    color: inherit;
    
    @iconS:16px;
    .navigation-icon{
        width: @iconS;
        height: @iconS;
        line-height: @iconS;
        font-size: @iconS !important;
        margin: 0px 12px;
    }
    .navigation-title{
        flex: 1;
    }
    .navigation-badge{
        display: block;
        min-width: @iconS;
        max-width: 5 * @iconS;
        height: @iconS;
        line-height: @iconS;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0px 6px;
        border-radius: 20px;
        font-size: 11px;
        font-weight: bold;
        text-align: center;
        transition: opacity .2s ease-in-out .1s;
        background-color: bisque;
    }
    .navigation-collapse-arrow {
        margin-right: 12px;
    }
    &:hover {
        background-color: #e0dfdf;
        font-weight: bolder;
    }
    &.active {
        .navigation-collapse-arrow {
            transform: rotate(90deg);
        }
        .navigation-title{
            font-weight: bolder;
        }
    }

}

.navigation-children { 
    overflow: hidden;
    .navigation-title{
        padding-left: 40px;
    }
    .navigation-children { 
        .navigation-title{
            padding-left: 80px;
        }
    }
}