<a class="navigation-self" *ngIf="!navigation.hide" [class.active]="navigation.isOpen === 'active-style' || navigation.isOpen === 'inactive-style'" (click)="toggleState($event)" [routerLink]="navigation.url">
    <mat-icon class="navigation-icon" *ngIf="navigation.icon">{{navigation.icon}}</mat-icon>
    <span class="navigation-title" >{{navigation.title}}</span>
    <p class="navigation-badge" *ngIf="navigation.badge" [ngStyle]="{'background-color': navigation.badge.bg}">{{navigation.badge.title}}</p>
    <mat-icon class="navigation-collapse-arrow" *ngIf="!navigation.url" >keyboard_arrow_right</mat-icon>
</a>
<div class="navigation-children" *ngIf="navigation.children && !navigation.hide" [@slideInOut]="navigation.isOpen">
    <ng-container *ngFor="let children of navigation.children">
        <app-navigation-item [navigation]="children"></app-navigation-item>
    </ng-container>
</div>
