<div class="tool-container">
    <div class="tool-box">
        <div class="tool-item">
            <button mat-icon-button class="private"><mat-icon>redo</mat-icon></button>
        </div>
        <div class="tool-item">
            <button mat-icon-button class="private"><mat-icon>undo</mat-icon></button>
        </div>
    </div>

    <div class="tool-box">
        <div class="tool-item">
            <button mat-icon-button class="private"><mat-icon>add</mat-icon></button>
        </div>
        <div class="tool-item">
            <button mat-icon-button class="private"><mat-icon>remove</mat-icon></button>
        </div>
    </div>

    <div class="tool-box">
        <div class="tool-item">
            <button mat-icon-button class="private"><mat-icon>crop_free</mat-icon></button>
        </div>
    </div>
</div>