.tool-container{
    .tool-box{
        margin-bottom: 30px;
    }
    .tool-item{
        border: 1px solid #eee;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: 10px 5px;
    }
   
}