@import '../../assets/scss/variable.scss';

mat-sidenav{
  width: $sidenavW;
}

.layout-container{
    .header-container {
        width: 100%;
        height: $headerH;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
    }
    .sidenav-container{
        width: 100%;
        height: 100vh;
        .sidenav{
            position: fixed;
            top: $headerH;
            bottom: 0;
            left: 0;
            padding: 0;
            min-width: $sidenavW;
        }
        .main-container{
           padding: $headerH + 30px 30px;
        }
    }
}