
<div class="layout-container">
    <app-header class="header-container shadow" [sidenav]="sidenav"></app-header>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav class="sidenav shadow" mode="side" opened #sidenav>
            <app-navigation></app-navigation>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="main-container">
                <app-loading></app-loading>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <app-footer></app-footer>
</div>